<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.zzzzzzz.mvc.door.dao.DoorMapper">

    <resultMap id="BaseResultMap" type="online.zzzzzzz.mvc.door.dao.entity.Door">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="initiate" column="initiate" jdbcType="TIMESTAMP"/>
            <result property="finish" column="finish" jdbcType="TIMESTAMP"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="today" column="today" jdbcType="DATE"/>
            <result property="total" column="total" jdbcType="INTEGER"/>
            <result property="allow" column="allow" jdbcType="BIT"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ip,initiate,
        finish,num,today,
        total,allow,type
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from door
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from door
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="online.zzzzzzz.mvc.door.dao.entity.Door" useGeneratedKeys="true">
        insert into door
        ( id,ip,initiate
        ,finish,num,today
        ,total,allow,type
        )
        values (#{id,jdbcType=INTEGER},#{ip,jdbcType=VARCHAR},#{initiate,jdbcType=TIMESTAMP}
        ,#{finish,jdbcType=TIMESTAMP},#{num,jdbcType=INTEGER},#{today,jdbcType=DATE}
        ,#{total,jdbcType=INTEGER},#{allow,jdbcType=BIT},#{type,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="online.zzzzzzz.mvc.door.dao.entity.Door" useGeneratedKeys="true">
        insert into door
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="ip != null">ip,</if>
                <if test="initiate != null">initiate,</if>
                <if test="finish != null">finish,</if>
                <if test="num != null">num,</if>
                <if test="today != null">today,</if>
                <if test="total != null">total,</if>
                <if test="allow != null">allow,</if>
                <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
                <if test="initiate != null">#{initiate,jdbcType=TIMESTAMP},</if>
                <if test="finish != null">#{finish,jdbcType=TIMESTAMP},</if>
                <if test="num != null">#{num,jdbcType=INTEGER},</if>
                <if test="today != null">#{today,jdbcType=DATE},</if>
                <if test="total != null">#{total,jdbcType=INTEGER},</if>
                <if test="allow != null">#{allow,jdbcType=BIT},</if>
                <if test="type != null">#{type,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="update" parameterType="online.zzzzzzz.mvc.door.dao.entity.Door">
        update door
        <set>
                <if test="ip != null">
                    ip = #{ip,jdbcType=VARCHAR},
                </if>
                <if test="initiate != null">
                    initiate = #{initiate,jdbcType=TIMESTAMP},
                </if>
                <if test="finish != null">
                    finish = #{finish,jdbcType=TIMESTAMP},
                </if>
                <if test="num != null">
                    num = #{num,jdbcType=INTEGER},
                </if>
                <if test="today != null">
                    today = #{today,jdbcType=DATE},
                </if>
                <if test="total != null">
                    total = #{total,jdbcType=INTEGER},
                </if>
                <if test="allow != null">
                    allow = #{allow,jdbcType=BIT},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="online.zzzzzzz.mvc.door.dao.entity.Door">
        update door
        set 
            ip =  #{ip,jdbcType=VARCHAR},
            initiate =  #{initiate,jdbcType=TIMESTAMP},
            finish =  #{finish,jdbcType=TIMESTAMP},
            num =  #{num,jdbcType=INTEGER},
            today =  #{today,jdbcType=DATE},
            total =  #{total,jdbcType=INTEGER},
            allow =  #{allow,jdbcType=BIT},
            type =  #{type,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <select id="findPageWithResult">

    </select>

    <select id="findPageWithCount">

    </select>

    <select id="getByIpAndType" resultType="online.zzzzzzz.mvc.door.dao.entity.Door">
        select * from door where ip=#{ip} and type=#{type}
    </select>

</mapper>
