/*
* @author:  zZZ....
* @description:
* @date: 2022/2/9
*
* */

pre {
    position: relative;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
article#comments {
    position: relative;
}
article#comments a {
    border-bottom: none;
}
article#comments #valine_container >i {
    display: block;
    margin: 16px auto;
}
article#comments #valine_container img {
    display: inline;
}
article#comments #valine_container .vwrap {
    border-radius: 8px;
    border-style: dashed;
    border: 1px dashed rgba(68,68,68,0.3);
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}
article#comments #valine_container .vwrap:hover {
    border: 1px dashed #44d7b6;
}
article#comments #valine_container .vwrap .cancel-reply {
    margin-top: 0;
    margin-bottom: 0;
}
article#comments #valine_container .vwrap .vheader .vinput {
    border-radius: 0;
    border-bottom: 1px dashed rgba(68,68,68,0.3);
}
article#comments #valine_container .vwrap .vheader .vinput:hover {
    border-bottom: 1px dashed #44d7b6;
}
article#comments #valine_container .vwrap .vheader .vinput:focus {
    border-bottom: 1px solid #44d7b6;
}
article#comments #valine_container .vwrap .vedit .vicon {
    height: 22px;
}
article#comments #valine_container .vwrap .vemojis,
article#comments #valine_container .vwrap .vpreview {
    /*background: var(--color-block);*/
    /*border-radius: var(--border-codeblock);*/
    padding: 8px;
}
article#comments #valine_container .vwrap .vemojis::-webkit-scrollbar,
article#comments #valine_container .vwrap .vpreview::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}
article#comments #valine_container .vwrap .vemojis::-webkit-scrollbar-track-piece,
article#comments #valine_container .vwrap .vpreview::-webkit-scrollbar-track-piece {
    background: transparent;
}
article#comments #valine_container .vwrap .vemojis::-webkit-scrollbar-thumb,
article#comments #valine_container .vwrap .vpreview::-webkit-scrollbar-thumb {
    background: #44d7b6;
    cursor: pointer;
    border-radius: 2px;
}
article#comments #valine_container .vwrap .vemojis::-webkit-scrollbar-thumb:hover,
article#comments #valine_container .vwrap .vpreview::-webkit-scrollbar-thumb:hover {
    background: #ff5722;
}
article#comments #valine_container .vwrap .vemojis .vemoji,
article#comments #valine_container .vwrap .vpreview .vemoji {
    max-height: 30px;
    max-width: 100px;
}
article#comments #valine_container .vwrap .vemojis i,
article#comments #valine_container .vwrap .vpreview i {
    width: auto;
    /*padding: 8px;*/
    /*border-radius: 4px;*/
    /*transition: box-shadow 0.2s ease-out, background 0.2s ease-out;*/
}
article#comments #valine_container .vwrap .vemojis i:hover,
article#comments #valine_container .vwrap .vpreview i:hover {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1), -1px -1px 2px rgba(255,255,255,0.5), inset 8px 8px 16px rgba(0,0,0,0.05), inset -8px -8px 16px rgba(255,255,255,0.4);
}
article#comments #valine_container .vwrap .vemojis i:active,
article#comments #valine_container .vwrap .vpreview i:active {
    background: #f1f1f1;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1), 0px 0px 0px rgba(255,255,255,0.8), inset 2px 2px 4px rgba(0,0,0,0.1), inset -2px -2px 4px #fff, inset -8px -8px 16px rgba(255,255,255,0.4);
}
article#comments #valine_container .vwrap .vedit .vctrl span {
    padding: 0;
    margin: 10px;
}
article#comments #valine_container .vwrap .vedit span {
    /*fill: var(--color-p);*/
}
article#comments #valine_container .vwrap .vedit span.actived {
    fill: #44d7b6;
}
article#comments #valine_container .vcount {
    /*color: var(--color-p);*/
    font-size: 0.875rem;
    padding: 0;
    font-weight: inherit;
}
article#comments #valine_container .vcount .vnum {
    /*color: var(--color-p);*/
    font-size: 1.5rem;
}
article#comments #valine_container button {
    border: none;
    padding: 4px 2rem;
    border-radius: 4px;
    background: #f1f1f1;
    /*color: var(--color-text);*/
    line-height: 2;
    font-size: 14px;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}
article#comments #valine_container button:hover {
    color: #ff5722;
    background: #ffeee8;
}
article#comments #valine_container button.vmore {
    width: 100%;
    padding: 8px 2rem;
}
article#comments #valine_container .vcards .vquote {
    border-left:   1px dashed rgba(183, 183, 183, 0.54);;
}
article#comments #valine_container .vcards .vh {
    border-bottom: 1px dashed rgba(68,68,68,0.1);
}
article#comments #valine_container .vcards .vimg {
    border: 1px solid #fff;
    padding: 0;
    /*background: var(--color-block);*/
}
article#comments #valine_container .vcards .vcontent.expand:before {
    background: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(246,246,246,0.9));
}
article#comments #valine_container .vcards .vcontent.expand:after {
    background: rgba(246,246,246,0.9);
    /*color: var(--color-text);*/
}
article#comments #valine_container .vcards .vhead span.vnick {
    color: #5e5e5e;
    cursor: default;
}
article#comments #valine_container .vcards .vhead a.vnick {
    color: #ff9800;
    font-weight: bold;
}
article#comments #valine_container .vcards .vhead a.vnick:hover {
    color: #ff5722;
}
article#comments #valine_container .vcards .vhead .vsys {
    margin: 2px;
    padding: 1px 8px;
    /*background-color: var(--color-block);*/
}
article#comments #valine_container .vcards .vmeta .vat {
    font-weight: bold;
    color: #2196f3;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}
article#comments #valine_container .vcards .vmeta .vat:hover {
    color: #ff5722;
}
article#comments #valine_container .vcards .vcontent blockquote {
    padding-top: 1em;
    padding-bottom: 1em;
    /*background: var(--color-block);*/
    border-left: 4px solid #44d7b6;
    border-radius: 4px;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}
article#comments #valine_container .vcards .vcontent code {
    /*color: var(--color-p);*/
    font-family: Menlo, UbuntuMono, Monaco, monospace, courier, sans-serif;
}
article#comments #valine_container .vcards .vcontent pre {
    /*background: var(--color-codeblock);*/
}
article#comments #valine_container .vcards .vcontent pre code {
    border: none;
}
article#comments #valine_container .vcards .vcontent a {
    color: #2196f3;
    line-height: inherit;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}
article#comments #valine_container .vcards .vcontent a:hover {
    color: #ff5722;
    text-decoration: underline;
}
article#comments #valine_container .vcards .vcontent p {
    /*color: var(--color-p);*/
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: inherit;
}
article#comments #valine_container .vcards .vcontent .vemoji {
    max-height: 24px;
    border-radius: 0;
    margin-top: -10px;
    max-width: 100px;
}
article#comments #valine_container .vempty {
    /*color: var(--color-meta);*/
}
article#comments #valine_container .vpower,
article#comments #valine_container .vpower a {
    font-size: 0.78125rem;
}
article#comments #valine_container .vpower a {
    /*color: var(--color-p);*/
}
article#comments #valine_container .vpower a:hover {
    text-decoration: underline;
    color: #ff5722;
}
article#comments #valine_container .vinput {
    /*color: var(--color-text);*/
}
article#comments #valine_container p {
    /*color: var(--color-text);*/
}


article .readmore {
    display: block;
    margin-top: 24px;
    font-size: 0.875rem;

}

@-moz-keyframes scroll-down-effect {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: -16px;
        opacity: 0.4;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-webkit-keyframes scroll-down-effect {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: -16px;
        opacity: 0.4;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@-o-keyframes scroll-down-effect {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: -16px;
        opacity: 0.4;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes scroll-down-effect {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: -16px;
        opacity: 0.4;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

article#comments .article p[ct] {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.125rem;
    /*color: var(--color-text);*/
}
article#comments .article p[cst] {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.875rem;
}
article#comments #load-btns,
article#comments #loading-comments {
    text-align: center;
    margin: 16px 0;
}
article#comments #load-btns,
article#comments #loading-comments,
article#comments #load-btns a,
article#comments #loading-comments a,
article#comments #load-btns i,
article#comments #loading-comments i {
    line-height: 3em;
}
article#comments #load-btns a.load-comments,
article#comments #loading-comments a.load-comments {
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    background: #44d7b6;
    color: #fff;
    padding-left: 48px;
    padding-right: 48px;
}
article#comments #load-btns a.load-comments:hover,
article#comments #loading-comments a.load-comments:hover {
    background: #ff5722;
}

.white-box {
    /*background: var(--color-card);*/
}
.reveal {
    visibility: hidden;
}
img {
    max-width: 100%;
}
.tagred {
    background: #feecf0 !important;
    color: #cc0f35 !important;
}
.tagyellow {
    background: #f4e9ff !important;
    color: #8a51c0 !important;
}
.tagblue {
    background: #eef3fc !important;
    color: #2160c4 !important;
}
.taggreen {
    background: #ebfffc !important;
    color: #00947e !important;
}
.tagpurple {
    background: #f4e9ff !important;
    color: #8a51c0 !important;
}
.taggrown {
    background: #fffbeb !important;
    color: #947600 !important;
}
.card-comment-item {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #e2dada;
    padding-bottom: 5px;
}
.item-header-text {
    color: #9a9a9a;
}
.item-text {
    margin-top: 5px;
    padding: 0;
}
a.newcomment {
    font-weight: bold;
    color: #444;
}
a.newcomment:hover {
    color: #36ac91 !important;
}
a.comments-detail:hover {
    color: #36ac91 !important;
}
ul.m-pc >li>a {
    color: inherit;
    border-bottom: 2px solid transparent;
}
ul.m-pc >li>a:active,
ul.m-pc >li>a.active {
    border-bottom: 2px solid #44d7b6;
}

ul.nav-list-h {
    display: flex;
    align-items: stretch;
}
ul.nav-list-h>li {
    position: relative;
    justify-content: center;
    height: 100%;
    line-height: 2.4;
    border-radius: 4px;
}
ul.nav-list-h>li >a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
}

.menu-phone li ul.list-v {
    right: calc(100% - 0.5 * 16px);
}
.menu-phone li ul.list-v ul {
    right: calc(100% - 0.5 * 16px);
}

.menu-phone {
    display: none;
    margin-top: 16px;
    right: 8px;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}
.menu-phone ul {
    right: calc(100% - 0.5 * 16px);
}
@media screen and (max-width: 500px) {
    .menu-phone {
        display: block;
    }
}
.el-notification__content {
    font-size: 13px;
    line-height: 21px;
    margin: 10px 0 0;
    color: #8391a5;
    text-align: justify;
}
.el-notification__group {
    margin-left: 35px;
}

/*
* @author:  zZZ....
* @description:
* @date: 2022/2/9
*
* */

.v[data-class=v] {
    font-size: 16px;
    text-align: left
}

.v[data-class=v] * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.75
}

.v[data-class=v] .status-bar, .v[data-class=v] .veditor, .v[data-class=v] .vinput, .v[data-class=v] p, .v[data-class=v] pre code {
    color: #555
}

.v[data-class=v] .vsys, .v[data-class=v] .vtime {
    color: #b3b3b3
}

.v[data-class=v] .text-right {
    text-align: right
}

.v[data-class=v] .text-center {
    text-align: center
}

.v[data-class=v] img {
    max-width: 100%;
    border: none
}

.v[data-class=v] hr {
    margin: .825em 0;
    border-color: #f6f6f6;
    border-style: dashed
}

.v[data-class=v].hide-avatar .vimg {
    display: none
}

.v[data-class=v] a {
    position: relative;
    cursor: pointer;
    color: #1abc9c;
    text-decoration: none;
    display: inline-block
}

.v[data-class=v] a:hover {
    color: #d7191a
}

.v[data-class=v] code, .v[data-class=v] pre {
    background-color: #f8f8f8;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: 85%;
    margin: 0
}

.v[data-class=v] pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.45
}

.v[data-class=v] pre code {
    padding: 0;
    background: transparent;
    white-space: pre-wrap;
    word-break: keep-all
}

.v[data-class=v] blockquote {
    color: #666;
    margin: .5em 0;
    padding: 0 0 0 1em;
    border-left: 8px solid hsla(0, 0%, 93%, .5)
}

.v[data-class=v] .vinput {
    border: none;
    resize: none;
    outline: none;
    padding: 10px 5px;
    max-width: 100%;
    font-size: .775em;
    box-sizing: border-box;
}

.v[data-class=v] input[type=checkbox], .v[data-class=v] input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px
}

.v[data-class=v] .vicon {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    fill: #555;
    vertical-align: middle
}

.v[data-class=v] .vicon + .vicon {
    margin-left: 10px
}

.v[data-class=v] .vicon.actived {
    fill: #66b1ff
}

.v[data-class=v] .vrow {
    font-size: 0;
    padding: 10px 0
}

.v[data-class=v] .vrow .vcol {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px
}

.v[data-class=v] .vrow .vcol.vcol-20 {
    width: 20%
}

.v[data-class=v] .vrow .vcol.vcol-30 {
    width: 30%
}

.v[data-class=v] .vrow .vcol.vcol-40 {
    width: 40%
}

.v[data-class=v] .vrow .vcol.vcol-50 {
    width: 50%
}

.v[data-class=v] .vrow .vcol.vcol-60 {
    width: 60%
}

.v[data-class=v] .vrow .vcol.vcol-70 {
    width: 70%
}

.v[data-class=v] .vrow .vcol.vcol-80 {
    width: 80%
}

.v[data-class=v] .vrow .vcol.vctrl {
    font-size: 12px
}

.v[data-class=v] .emoji, .v[data-class=v] .vemoji {
    max-width: 25px;
    vertical-align: middle;
    margin: 0 1px;
    display: inline-block
}

.v[data-class=v] .vwrap {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px
}

.v[data-class=v] .vwrap input {
    background: transparent
}

.v[data-class=v] .vwrap .vedit {
    position: relative;
    padding-top: 10px
}

.v[data-class=v] .vwrap .cancel-reply-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer
}

.v[data-class=v] .vwrap .vemojis {
    display: none;
    font-size: 18px;
    max-height: 145px;
    overflow: auto;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 0 1px #f0f0f0;
    box-shadow: 0 0 1px #f0f0f0
}

.v[data-class=v] .vwrap .vemojis i {
    font-style: normal;
    padding-top: 7px;
    width: 36px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

.v[data-class=v] .vwrap .vpreview {
    padding: 7px;
    -webkit-box-shadow: 0 0 1px #f0f0f0;
    box-shadow: 0 0 1px #f0f0f0
}

.v[data-class=v] .vwrap .vheader .vinput {
    width: 32.9%;
    border-bottom: 1px dashed #dedede
}

.v[data-class=v] .vwrap .vheader.item2 .vinput {
    width: 50%
}

.v[data-class=v] .vwrap .vheader.item1 .vinput {
    width: 100%
}

.v[data-class=v] .vwrap .vheader .vinput:focus {
    border-bottom-color: #eb5055
}

@media screen and (max-width: 520px) {
    .v[data-class=v] .vwrap .vheader.item2 .vinput, .v[data-class=v] .vwrap .vheader .vinput {
        width: 100%
    }
}

.v[data-class=v] .vpower {
    color: #999;
    font-size: .75em;
    padding: .5em 0
}

.v[data-class=v] .vpower a {
    font-size: .75em
}

.v[data-class=v] .vcount {
    padding: 5px;
    font-weight: 600;
    font-size: 1.25em
}

.v[data-class=v] ol, .v[data-class=v] ul {
    padding: 0;
    margin-left: 1.25em
}

.v[data-class=v] .txt-center {
    text-align: center
}

.v[data-class=v] .txt-right {
    text-align: right
}

.v[data-class=v] .pd5 {
    padding: 5px
}

.v[data-class=v] .pd10 {
    padding: 10px
}

.v[data-class=v] .veditor {
    width: 100%;
    min-height: 8.75em;
    font-size: .875em;
    background: transparent;
    resize: vertical;
    -webkit-transition: all .25s ease;
    transition: all .25s ease
}

.v[data-class=v] .vbtn {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    text-align: center;
    color: #555;
    border: 1px solid #ededed;
    border-radius: .3em;
    display: inline-block;
    background: transparent;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: .5em 1.25em;
    font-size: .875em;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none
}

.v[data-class=v] .vbtn + .vbtn {
    margin-left: 1.25em
}

.v[data-class=v] .vbtn:active, .v[data-class=v] .vbtn:hover {
    color: #3090e4;
    border-color: #3090e4
}

.v[data-class=v] .vbtn:disabled {
    border-color: #e1e1e1;
    color: #e1e1e1;
    background-color: #fdfafa;
    cursor: not-allowed
}

.v[data-class=v] .vempty {
    padding: 1.25em;
    text-align: center;
    color: #555;
    overflow: auto
}

.v[data-class=v] .vsys {
    display: inline-block;
    padding: .2em .5em;
    font-size: .75em;
    border-radius: .2em;
    margin-right: .3em
}

@media screen and (max-width: 520px) {
    .v[data-class=v] .vsys {
        display: none
    }
}

.v[data-class=v] .vcards {
    width: 100%
}

.v[data-class=v] .vcards .vcard {
    padding-top: 1.25em;
    position: relative;
    display: block
}

.v[data-class=v] .vcards .vcard:after {
    content: "";
    clear: both;
    display: block
}

.v[data-class=v] .vcards .vcard .vimg {
    width: 3.125em;
    height: 3.125em;
    float: left;
    border-radius: 50%;
    margin-right: .7525em;
    border: 1px solid #f5f5f5;
    padding: .125em
}

@media screen and (max-width: 720px) {
    .v[data-class=v] .vcards .vcard .vimg {
        width: 2.5em;
        height: 2.5em
    }
}

.v[data-class=v] .vcards .vcard .vhead {
    line-height: 1.5;
    margin-top: 0
}

.v[data-class=v] .vcards .vcard .vhead .vnick {
    position: relative;
    font-size: .875em;
    font-weight: 500;
    margin-right: .4em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block
}

.vtag {
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    border-radius: 2px;
    color: #fff;
    padding: 0 5px;
    position: inherit;
}

.vtag.vmaster {
    background: #ffa51e
}

.vtag.vfriend {
    background: #6cf
}

.vtag.vvisitor {
    background: #828282
}

.v[data-class=v] .vcards .vcard .vhead .vnick:hover {
    color: #d7191a
}

.v[data-class=v] .vcards .vcard .vh {
    overflow: hidden;
    padding-bottom: .5em;
    border-bottom: 1px dashed #f5f5f5
}

.v[data-class=v] .vcards .vcard .vh .vtime {
    font-size: .75em;
    margin-right: .875em
}

.v[data-class=v] .vcards .vcard .vh .vmeta {
    line-height: 1;
    position: relative
}

.v[data-class=v] .vcards .vcard .vh .vmeta .vat {
    font-size: .8125em;
    color: #ef2f11;
    cursor: pointer;
    float: right;
    margin-right:13px
}

.v[data-class=v] .vcards .vcard:last-child .vh {
    border-bottom: none
}

.v[data-class=v] .vcards .vcard .vcontent {
    word-wrap: break-word;
    word-break: break-all;
    font-size: .875em;
    line-height: 2;
    position: relative;
    margin-bottom: .75em;
    padding-top: .625em;

}

.v[data-class=v] .vcards .vcard .vcontent.expand {
    cursor: pointer;
    max-height: 8em;
    overflow: hidden
}

.v[data-class=v] .vcards .vcard .vcontent.expand:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 3.15em;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(hsla(0, 0%, 100%, .9)));
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .9));
    z-index: 999
}

.v[data-class=v] .vcards .vcard .vcontent.expand:after {
    display: block;
    content: attr(data-expand);
    text-align: center;
    color: #828586;
    position: absolute;
    width: 100%;
    height: 3.15em;
    line-height: 3.15em;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: hsla(0, 0%, 100%, .9)
}

.v[data-class=v] .vcards .vcard .vquote {
    padding-left: 1em;
    border-left: 1px dashed hsla(0, 0%, 93%, .5)
}

.v[data-class=v] .vcards .vcard .vquote .vimg {
    width: 2.225em;
    height: 2.225em
}

.v[data-class=v] .vpage .vmore {
    margin: 1em 0
}

.v[data-class=v] .clear {
    content: "";
    display: block;
    clear: both
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.v[data-class=v] .vspinner {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 6px double #a0a0a0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    position: relative;
    vertical-align: middle;
    margin: 0 5px
}

.dark .v[data-class=v] .status-bar, .dark .v[data-class=v] .veditor, .dark .v[data-class=v] .vinput, .dark .v[data-class=v] p, .dark .v[data-class=v] pre code, .night .v[data-class=v] .status-bar, .night .v[data-class=v] .veditor, .night .v[data-class=v] .vinput, .night .v[data-class=v] p, .night .v[data-class=v] pre code, .theme__dark .v[data-class=v] .status-bar, .theme__dark .v[data-class=v] .veditor, .theme__dark .v[data-class=v] .vinput, .theme__dark .v[data-class=v] p, .theme__dark .v[data-class=v] pre code, [data-theme=dark] .v[data-class=v] .status-bar, [data-theme=dark] .v[data-class=v] .veditor, [data-theme=dark] .v[data-class=v] .vinput, [data-theme=dark] .v[data-class=v] p, [data-theme=dark] .v[data-class=v] pre code {
    color: #b2b2b5
}

.dark .v[data-class=v] .vsys, .dark .v[data-class=v] .vtime, .night .v[data-class=v] .vsys, .night .v[data-class=v] .vtime, .theme__dark .v[data-class=v] .vsys, .theme__dark .v[data-class=v] .vtime, [data-theme=dark] .v[data-class=v] .vsys, [data-theme=dark] .v[data-class=v] .vtime {
    color: #929298
}

.dark .v[data-class=v] code, .dark .v[data-class=v] pre, .dark .v[data-class=v] pre code, .night .v[data-class=v] code, .night .v[data-class=v] pre, .night .v[data-class=v] pre code, .theme__dark .v[data-class=v] code, .theme__dark .v[data-class=v] pre, .theme__dark .v[data-class=v] pre code, [data-theme=dark] .v[data-class=v] code, [data-theme=dark] .v[data-class=v] pre, [data-theme=dark] .v[data-class=v] pre code {
    color: #929298;
    background-color: #151414
}

.dark .v[data-class=v] .vwrap, .night .v[data-class=v] .vwrap, .theme__dark .v[data-class=v] .vwrap, [data-theme=dark] .v[data-class=v] .vwrap {
    border-color: #b2b2b5
}

.dark .v[data-class=v] .vicon, .night .v[data-class=v] .vicon, .theme__dark .v[data-class=v] .vicon, [data-theme=dark] .v[data-class=v] .vicon {
    fill: #b2b2b5
}

.dark .v[data-class=v] .vicon.actived, .night .v[data-class=v] .vicon.actived, .theme__dark .v[data-class=v] .vicon.actived, [data-theme=dark] .v[data-class=v] .vicon.actived {
    fill: #66b1ff
}

.dark .v[data-class=v] .vbtn, .night .v[data-class=v] .vbtn, .theme__dark .v[data-class=v] .vbtn, [data-theme=dark] .v[data-class=v] .vbtn {
    color: #b2b2b5;
    border-color: #b2b2b5
}

.dark .v[data-class=v] .vbtn:hover, .night .v[data-class=v] .vbtn:hover, .theme__dark .v[data-class=v] .vbtn:hover, [data-theme=dark] .v[data-class=v] .vbtn:hover {
    color: #66b1ff;
    border-color: #66b1ff
}

.dark .v[data-class=v] a:hover, .night .v[data-class=v] a:hover, .theme__dark .v[data-class=v] a:hover, [data-theme=dark] .v[data-class=v] a:hover {
    color: #d7191a
}

.dark .v[data-class=v] .vcards .vcard .vcontent.expand:before, .night .v[data-class=v] .vcards .vcard .vcontent.expand:before, .theme__dark .v[data-class=v] .vcards .vcard .vcontent.expand:before, [data-theme=dark] .v[data-class=v] .vcards .vcard .vcontent.expand:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .7)));
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7))
}

.dark .v[data-class=v] .vcards .vcard .vcontent.expand:after, .night .v[data-class=v] .vcards .vcard .vcontent.expand:after, .theme__dark .v[data-class=v] .vcards .vcard .vcontent.expand:after, [data-theme=dark] .v[data-class=v] .vcards .vcard .vcontent.expand:after {
    background: rgba(0, 0, 0, .7)
}

@media (prefers-color-scheme: dark) {
    .v[data-class=v] .status-bar, .v[data-class=v] .veditor, .v[data-class=v] .vinput, .v[data-class=v] p, .v[data-class=v] pre code {
        color: #b2b2b5
    }

    .v[data-class=v] .vsys, .v[data-class=v] .vtime {
        color: #929298
    }

    .v[data-class=v] code, .v[data-class=v] pre, .v[data-class=v] pre code {
        color: #929298;
        background-color: #151414
    }

    .v[data-class=v] .vwrap {
        border-color: #b2b2b5
    }

    .v[data-class=v] .vicon {
        fill: #b2b2b5
    }

    .v[data-class=v] .vicon.actived {
        fill: #66b1ff
    }

    .v[data-class=v] .vbtn {
        color: #b2b2b5;
        border-color: #b2b2b5
    }

    .v[data-class=v] .vbtn:hover {
        color: #66b1ff;
        border-color: #66b1ff
    }

    .v[data-class=v] a:hover {
        color: #d7191a
    }

    .v[data-class=v] .vcards .vcard .vcontent.expand:before {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .7)));
        background: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7))
    }

    .v[data-class=v] .vcards .vcard .vcontent.expand:after {
        background: rgba(0, 0, 0, .7)
    }
}