/*
* @author:  zZZ....
* @description: 后台管理系统css
* @date: 2022/5/20
*
* */

.blog-display{
    display: none;
}
.blog-alter{
    width: 330px;
    display: flex;
    position:fixed;
    bottom: 84px;
    right: -332px;
    transition: right 1s ;
    z-index: 1046;
}
.blog-none{
    display: none;
}
.blog-prompt{
    right: 33px;
}
.bg0-color{
    background-color: rgb(32 107 196 / 25%);
    height: 7.5vh;
    padding-left: 1rem;
    padding-right: 1rem;
}
.blog-wirte-title{
    border: 0;
    background-color: transparent!important;
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
    color: inherit;
    display: flex;
    align-items: center;
}
.form-switch {
    padding-left:0;
}


@-webkit-keyframes z-blog-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes z-blog-pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);

    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);

    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        color: #121eff;
    }
}

.pulse {
    -webkit-animation-name: z-blog-pulse;
    animation-name: z-blog-pulse
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: 2;
}



.z-ptu > div{
    margin-top: 1rem;
}

svg {
    touch-action: none
}

.jvm-zoomin,.jvm-zoomout,image,text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.jvm-container {
    touch-action: none;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%
}

.jvm-tooltip {
    border-radius: 3px;
    background-color: #5c5cff;
    font-family: sans-serif,Verdana;
    font-size: smaller;
    box-shadow: 1px 2px 12px rgba(0,0,0,.2);
    padding: 3px 5px;
    white-space: nowrap;
    position: absolute;
    display: none;
    color: #fff
}

.jvm-tooltip.active {
    display: block
}

.jvm-zoom-btn {
    border-radius: 3px;
    background-color: #292929;
    padding: 3px;
    box-sizing: border-box;
    position: absolute;
    line-height: 10px;
    cursor: pointer;
    color: #fff;
    height: 15px;
    width: 15px;
    left: 10px
}

.jvm-zoom-btn.jvm-zoomout {
    top: 30px
}

.jvm-zoom-btn.jvm-zoomin {
    top: 10px
}

.jvm-series-container {
    right: 15px;
    position: absolute
}

.jvm-series-container.jvm-series-h {
    bottom: 15px
}

.jvm-series-container.jvm-series-v {
    top: 15px
}

.jvm-series-container .jvm-legend {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    margin-left: .75rem;
    border-radius: .25rem;
    border-color: #e5e7eb;
    padding: .6rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    float: left
}

.jvm-series-container .jvm-legend .jvm-legend-title {
    line-height: 1;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: .5rem;
    margin-bottom: .575rem;
    text-align: left
}

.jvm-series-container .jvm-legend .jvm-legend-inner {
    overflow: hidden
}

.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick {
    overflow: hidden;
    min-width: 40px
}

.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick:not(:first-child) {
    margin-top: .575rem
}

.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick .jvm-legend-tick-sample {
    border-radius: 4px;
    margin-right: .65rem;
    height: 16px;
    width: 16px;
    float: left
}

.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick .jvm-legend-tick-text {
    font-size: 12px;
    text-align: center;
    float: left
}

.jvm-line[animation=true] {
    animation: jvm-line-animation 10s linear forwards infinite
}

@keyframes jvm-line-animation {
    from {
        stroke-dashoffset: 250
    }
}

.jvm-tooltip {
    background: #1d273b;
    font-family: inherit;
    font-size: .75rem;
    box-shadow: var(--tblr-shadow-card)
}

.jvm-series-container .jvm-legend .jvm-legend-title {
    border-bottom: 0;
    font-weight: var(--tblr-font-weight-medium)
}

.jvm-series-container .jvm-legend {
    background-color: var(--tblr-card-bg,var(--tblr-bg-surface));
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    min-width: 8rem
}

.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick {
    display: flex;
    align-items: center
}

.jvm-series-container .jvm-legend .jvm-legend-inner .jvm-legend-tick .jvm-legend-tick-sample {
    width: .75rem;
    height: .75rem
}

.jvm-zoom-btn {
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    background: var(--tblr-card-bg,var(--tblr-bg-surface));
    color: var(--tblr-body-color);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    box-shadow: var(--tblr-shadow-card)
}

.jvm-zoom-btn.jvm-zoomout {
    top: 2.5rem
}

.z-hover:hover{
    background-color: #bbdefb  !important;
}

/*闪光划过-未完成*/
.item::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:linear-gradient(-45deg,transparent 30%,transparent,rgba(255,255,255,.5),transparent 70%) no-repeat;
    background-size:200% 200%;
    background-position:200% 200%;
}
.item:hover::before{
    transition:background-position 3s;
    background-position:-100% -100%;
}



