<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.zzzzzzz.mvc.gallery.dao.BlogGalleryMapper">

    <resultMap id="BaseResultMap" type="online.zzzzzzz.mvc.gallery.dao.entity.BlogGallery">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="img_name" jdbcType="VARCHAR" property="imgName" />
        <result column="size" jdbcType="BIGINT" property="size" />
        <result column="upload_time" jdbcType="DATE" property="uploadTime" />
        <result column="content_type" jdbcType="VARCHAR" property="contentType" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="md5" jdbcType="VARCHAR" property="md5" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>


    <sql id="Base_Column_List">
  id, img_name, size, upload_time, content_type, path, md5, sort,type
</sql>


    <delete id="delete" parameterType="java.lang.Integer">
  delete from blog_gallery
  where id = #{id,jdbcType=INTEGER}
</delete>


    <insert id="insert" parameterType="online.zzzzzzz.mvc.gallery.dao.entity.BlogGallery">
      insert into blog_gallery (id, img_name, size,
        upload_time, content_type, path,
        md5, sort,type)
      values (#{id,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT},
        #{uploadTime,jdbcType=DATE}, #{contentType,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
        #{md5,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},#{type})

    </insert>

    <insert id="insertDuplicateKey" parameterType="online.zzzzzzz.mvc.gallery.dao.entity.BlogGallery">
        insert into blog_gallery (id, img_name, size,
        upload_time, content_type, path,
        md5, sort,type)
        values (#{id,jdbcType=INTEGER}, #{imgName,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT},
        #{uploadTime,jdbcType=DATE}, #{contentType,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR},
        #{md5,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},#{type,jdbcType=VARCHAR})

        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="imgName != null">
                img_name = #{imgName,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=BIGINT},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime,jdbcType=DATE},
            </if>
            <if test="contentType != null">
                content_type = #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                sort = #{type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertDynamic" parameterType="online.zzzzzzz.mvc.gallery.dao.entity.BlogGallery">
        insert into blog_gallery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="imgName != null">
                img_name,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="uploadTime != null">
                upload_time,
            </if>
            <if test="contentType != null">
                content_type,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="md5 != null">
                md5,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="imgName != null">
                #{imgName,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=BIGINT},
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=DATE},
            </if>
            <if test="contentType != null">
                #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="md5 != null">
                #{md5,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="online.zzzzzzz.mvc.gallery.dao.entity.BlogGallery">
        update blog_gallery
        <set>
            <if test="imgName != null">
                img_name = #{imgName,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=BIGINT},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime,jdbcType=DATE},
            </if>
            <if test="contentType != null">
                content_type = #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="md5 != null">
                md5 = #{md5,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>





    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  blog_gallery
        where id = #{id,jdbcType=INTEGER}
    </select>


    <sql id="findPageWithWhere">
        <where> 1=1
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="imgName != null and imgName != ''" >
                and img_name = #{imgName,jdbcType=VARCHAR}
            </if>
            <if test="size != null" >
                and size = #{size,jdbcType=BIGINT}
            </if>
            <if test="uploadTime != null" >
                and upload_time = #{uploadTime,jdbcType=DATE}
            </if>
            <if test="contentType != null and contentType != ''" >
                and content_type = #{contentType,jdbcType=VARCHAR}
            </if>
            <if test="path != null and path != ''" >
                and path = #{path,jdbcType=VARCHAR}
            </if>
            <if test="md5 != null and md5 != ''" >
                and md5 = #{md5,jdbcType=VARCHAR}
            </if>
            <if test="sort != null" >
                and sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="type != null and type != '' "  >
                and tpe = #{type,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>




    <sql id="pageFindPageWithWhere">
        <where> 1=1

            <if test="p != null" >
                <if test="p.id != null" >
                    and id = #{p.id,jdbcType=INTEGER}
                </if>
                <if test="p.imgName != null and p.imgName != ''" >
                    and img_name = #{p.imgName,jdbcType=VARCHAR}
                </if>
                <if test="p.size != null" >
                    and size = #{p.size,jdbcType=BIGINT}
                </if>
                <if test="p.uploadTime != null" >
                    and upload_time = #{p.uploadTime,jdbcType=DATE}
                </if>
                <if test="p.contentType != null and p.contentType != ''" >
                    and content_type = #{p.contentType,jdbcType=VARCHAR}
                </if>
                <if test="p.path != null and p.path != ''" >
                    and path = #{p.path,jdbcType=VARCHAR}
                </if>
                <if test="p.md5 != null and p.md5 != ''" >
                    and md5 = #{p.md5,jdbcType=VARCHAR}
                </if>
                <if test="p.sort != null" >
                    and sort = #{p.sort,jdbcType=INTEGER}
                </if>
                <if test="p.type != null and p.type != '' "  >
                    and type = #{p.type,jdbcType=VARCHAR}
                </if>
            </if>

        </where>
    </sql>


    <select id="findPageWithResult" parameterType="online.zzzzzzz.basics.entity.Page"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  blog_gallery
        <include refid="pageFindPageWithWhere" />
        limit #{start},#{pageSize}
    </select>


    <select id="findPageWithCount" parameterType="online.zzzzzzz.basics.entity.Page"  resultType="Integer">
        select count(1)
        from blog_gallery
        <include refid="pageFindPageWithWhere" />
    </select>

</mapper>